# ===============================
# Datos y resultados (NO versionar)
# ===============================
01_data/
05_results/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Entornos virtuales
# ===============================
env/
venv/
.conda/

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Sistema
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Variables de entorno
# ===============================
.env